<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Example.Share" value="\\10.200.0.12\content-storage" />
		<add key="Credential.Username" value="10.200.0.12\contentdev_test_user" />
		<add key="Credential.Password" value="T3stus3r" />
	</appSettings>
</configuration>